<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>
<h2>
    This is the ERP site for <a href = "https://www.truehb.com">Wrig Nanosystems</a>
</h2>
<%= link_to "Sign up now!", signup_path, class: "btn btn-md btn-primary" %> </div>