<footer class="footer">
  <small>
    This is the ERP site for <a href = "https://www.truehb.com">Wrig Nanosystems</a>
  </small>
  <nav>
<ul>
<li><%= link_to "About", '#' %></li>
<li><%= link_to "Contact", '#' %></li>
<li><a href="http://news.railstutorial.org/">News</a></li>
</ul> </nav>
</footer>